<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gemstone.name %>
</p>

<p>
  <strong>Properties:</strong>
  <%= @gemstone.properties %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @gemstone.picture %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @gemstone.tag %>
</p>

<%= link_to 'Edit', edit_gemstone_path(@gemstone) %> |
<%= link_to 'Back', gemstones_path %>
